<table>

	<th><h1>Android nang Bayan Inc.</h1></th>


	</br>
	<table>

	<a href="/phones/new">CREATE NEW</a>

  	<thead>
	<tr>
		<th>Name</th>
		<th>Brand</th>
		<th>Year Released</th>
		<th>Camera</th>
		<th>Mpixels</th>
		<th>Internal Storage</th>
		<th>Number of Sim Slots</th>
		<th>Size of Screen</th>
		<th>Operating System</th>
		<th>Number in Stock</th>

	</tr>

	<tbody>
	<% @phones.each do |phone| %>
	<tr>
		<td><%= phone.name %></td>
		<td><%= phone.brand %></td>
		<td><%= phone.year_released %></td>
		<td><%= phone.camera %></td>
		<td><%= phone.mpixels %></td>
		<td><%= phone.internal_storage %></td>
		<td><%= phone.sim_slots %></td>
		<td><%= phone.size_of_screen %></td>
		<td><%= phone.operating_system %></td>
		<td><%= phone.num_in_stock %></td></br>
	

	<td>
		<a href="/phones/<%= phone.id %>">
		<%= phone.name %>

	</td>	
</tbody>



	<% end %>
</table>
