<div><h1>Name: <%= @phone.name %></h1></div>

<div><h3>Brand: <%= @phone.brand %></h2></div>
<div><h3>Year Released: <%= @phone.year_released %></h3></div></br>
<div><h3>Camera: <%= @phone.camera %></h3></div>
<div><h3>Mpixels: <%= @phone.mpixels %></h3></div>
<div><h3>Internal Storage: <%= @phone.internal_storage %></h3></div>
<div><h3>Number of Sim Slots: <%= @phone.sim_slots %></h3></div></br>
<div><h3>Size of Screen: <%= @phone.size_of_screen %></h3></div></br>
<div><h3>Operating System: <%= @phone.operating_system %></h3></div></br>
<div><h3>Number in Stock: <%= @phone.num_in_stock %></h3></div></br>

<a href="/phones/">BACK TO HOME</a>






